{% extends "crm/base.html" %}
{% block title %}List of Recipients{% endblock %}

{% block content %}
    <h1 class="fade-in slide-in"><i class="fas fa-users"></i> List of Recipients</h1>
    <form method="get" class="fade-in mt-3">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <table class="table table-striped fade-in mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Organization Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for recipient in recipients %}
                <tr>
                    <td>{{ recipient.recipientid }}</td>
                    <td>{{ recipient.organizationName }}</td>
                    <td>{{ recipient.email }}</td>
                    <td>{{ recipient.phone_number }}</td>
                    <td>{{ recipient.address }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No recipients found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'home' %}" class="btn btn-custom-back mt-3 fade-in">
        <i class="fas fa-arrow-left"></i> Back to Home
    </a>
{% endblock %}